################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankingApp/v15
/BankingApp/bin/Debug
/BankingApp/obj/Debug
/BankingAppTests/bin/Debug
/BankingAppTests/obj/Debug
/packages
